<a href="https://colab.research.google.com/github/emilymacris/ds3001group/blob/main/michigan/michiganpredict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/emilymacris/ds3001group.git

fatal: destination path 'ds3001group' already exists and is not an empty directory.

In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Read in files

outcomes = pd.read_excel("./ds3001group/dataverse_files/WinningPartyByCounties.xlsx") # party outcome at county level

rawdemo2012 = pd.read_excel("./ds3001group/dataverse_files/demographicsallstates2012.xlsx") # demographic variables at county level 2012
rawdemo2016 = pd.read_excel("./ds3001group/dataverse_files/demographicsallstates2016.xlsx") # demographic variables at county level 2016
rawdemo2020 = pd.read_excel("./ds3001group/dataverse_files/demographicsallstates2020.xlsx") # demographic variables at county level 2020

mipoverty = pd.read_csv("./ds3001group/michigan/mipoverty.csv") # poverty variable at county level -- Michigan
mipoverty = mipoverty.drop([0,1, 38, 39]) # Drop national and state level statistics

prediction = pd.read_excel("./ds3001group/2022datafinal.xlsx")
prediction.head(10)

,GIS Join Match Code,Data File Year,State/US-Abbreviation (USPS),Region Code,Division Code,State Name,State Code,County Name,County Code,County Subdivision Code,...,Aggregate income in the past 12 months (in 2022 inflation-adjusted dollars),Total.5,In labor force,In labor force Percentage,In labor force: Civilian labor force,In labor force: Civilian labor force: Employed,In labor force: Civilian labor force: Unemployed,In labor force: Armed Forces,Not in labor force,Not in labor force Percentage
0,G0400010,2018-2022,AZ,NaN,NaN,Arizona,4,Apache County,1,NaN,...,2076142800,47146,28106,0.596148,27163,26411,752,943,19040,0.403852
1,G0400030,2018-2022,AZ,NaN,NaN,Arizona,4,Cochise County,3,NaN,...,9081671900,189569,111766,0.589580,111079,107254,3825,687,77803,0.410420
2,G0400050,2018-2022,AZ,NaN,NaN,Arizona,4,Coconino County,5,NaN,...,581565400,20399,8968,0.439629,8968,8452,516,0,11431,0.560371
3,G0400070,2018-2022,AZ,NaN,NaN,Arizona,4,Gila County,7,NaN,...,555512400,18046,9028,0.500277,9028,8242,786,0,9018,0.499723
4,G0400090,2018-2022,AZ,NaN,NaN,Arizona,4,Graham County,9,NaN,...,1716337800,47261,26459,0.559849,26434,24856,1578,25,20802,0.440151
5,G0400110,2018-2022,AZ,NaN,NaN,Arizona,4,Greenlee County,11,NaN,...,228401300,8376,3888,0.464183,3888,3744,144,0,4488,0.535817
6,G0400120,2018-2022,AZ,NaN,NaN,Arizona,4,La Paz County,12,NaN,...,499854700,15203,8047,0.529303,8043,7495,548,4,7156,0.470697
7,G0400130,2018-2022,AZ,NaN,NaN,Arizona,4,Maricopa County,13,NaN,...,3278894900,94627,53521,0.565600,53147,49455,3692,374,41106,0.434400
8,G0400150,2018-2022,AZ,NaN,NaN,Arizona,4,Mohave County,15,NaN,...,934715300,28036,15691,0.559673,15631,15072,559,60,12345,0.440327
9,G0400170,2018-2022,AZ,NaN,NaN,Arizona,4,Navajo County,17,NaN,...,712518400,20956,10713,0.511214,10713,10288,425,0,10243,0.488786

In [4]:
# Filter files for Michigan

mioutcomes = outcomes[outcomes['state'] == 'MICHIGAN'] # filtered outcome variable for Michigan

demo2012 = rawdemo2012[rawdemo2012['State Name'] == 'Michigan'] # filtered demographic variables for Michigan
demo2016 = rawdemo2016[rawdemo2016['State Name'] == 'Michigan']
demo2020 = rawdemo2020[rawdemo2020['State Name'] == 'Michigan'] # filtered demographic variables for Michigan

In [5]:
mioutcomes2012 = mioutcomes[mioutcomes['year'] == 2012]
mioutcomes2016 = mioutcomes[mioutcomes['year'] == 2016]
mioutcomes2020 = mioutcomes[mioutcomes['year'] == 2020] # separated outcomes variable by year

mipoverty2012 = mipoverty[mipoverty['Year'] == 2012]
mipoverty2016 = mipoverty[mipoverty['Year'] == 2016]
mipoverty2020 = mipoverty[mipoverty['Year'] == 2020] # separated poverty variable by year

In [6]:
# Merge

election2012 = pd.merge(demo2012, mipoverty2012, left_on='County Name', right_on='Name', how='outer') # Merge poverty with demographics
election2012 = pd.merge(election2012, mioutcomes2012, left_on='ID', right_on='county_fips', how='outer') # Merge outcomes with election2012
# now have a complete file for 2012

election2016 = pd.merge(demo2016, mipoverty2016, left_on='County Name', right_on='Name', how='outer') # Merge poverty with demographics
election2016 = pd.merge(election2016, mioutcomes2016, left_on='ID', right_on='county_fips', how='outer') # Merge outcomes with election2016
# now have a complete file for 2016

election2020 = pd.merge(demo2020, mipoverty2020, left_on='County Name', right_on='Name', how='outer') # Merge poverty with demographics
election2020 = pd.merge(election2020, mioutcomes2020, left_on='ID', right_on='county_fips', how='outer') # Merge outcomes with election2012
# now have a complete file for 2020

In [7]:
# Prepare prediction data

miprediction = prediction[prediction['State Name'] == 'Nevada']

miprediction = miprediction[['County Name','Males Under 18 Percentage','Males 18-24 Percentage','Males 25-34 Percentage',
                           'Males 35-44 Percentage', 'Males 45-64 Percentage', 'Males 65+ Percentage', 'Females Under 18 Percentage',
                           'Females 18-24 Percentage', 'Females 25-34 Percentage', 'Females 35-44 Percentage', 'Females 45-64 Percentage',
                           'Females 65+ Percentage',
                           'White alone Percentage', 'Black or African American alone Percentage', 'American Indian and Alaska Native alone Percentage',
                           'Asian alone Percentage', 'Native Hawaiian and Other Pacific Islander alone Percentage',
                           'Some other race alone Percentage', 'Two or more races Percentage', 'Two or more races: Two races including Some other race Percentage',
                           'Two or more races: Two races excluding Some other race, and three or more races Percentage',
                           'No schooling completed Percentage', 'Nursery school Percentage','Kindergarten Percentage', '1st grade Percentage', '2nd grade Percentage',
                           '3rd grade Percentage', '4th grade Percentage', '5th grade Percentage', '6th grade Percentage', '7th grade Percentage', '8th grade Percentage',
                           '9th grade Percentage', '10th grade Percentage', '11th grade Percentage', '12th grade, no diploma Percentage', 'Regular high school diploma Percentage',
                           'GED or alternative credential Percentage', 'Some college, less than 1 year Percentage', 'Some college, 1 or more years, no degree Percentage',
                           "Associate's degree Percentage", "Bachelor's degree Percentage", "Master's degree Percentage", 'Professional school degree Percentage',
                           'Doctorate degree Percentage',
                           'less than $39,999 Percentage', '$40,000-$74,999 Percentage', '$75,000-$99,999 Percentage', '$100,000-$149,999 Percentage', '$150,000-$199,999 Percentage', 'more than $200,000 Percentage',]]

miprediction.head(100)
# Prediction data ready. Missing poverty statistics and median income statistics

,County Name,Males Under 18 Percentage,Males 18-24 Percentage,Males 25-34 Percentage,Males 35-44 Percentage,Males 45-64 Percentage,Males 65+ Percentage,Females Under 18 Percentage,Females 18-24 Percentage,Females 25-34 Percentage,...,Bachelor's degree Percentage,Master's degree Percentage,Professional school degree Percentage,Doctorate degree Percentage,"less than $39,999 Percentage","$40,000-$74,999 Percentage","$75,000-$99,999 Percentage","$100,000-$149,999 Percentage","$150,000-$199,999 Percentage","more than $200,000 Percentage"
257,Churchill County,0.115471,0.048408,0.072337,0.058680,0.129403,0.091739,0.590696,0.040025,0.058719,...,0.123830,0.029402,0.019868,0.003311,0.552288,0.235294,0.094118,0.060131,0.011765,0.046405
258,Clark County,0.116119,0.043159,0.074449,0.071219,0.126333,0.070759,0.609010,0.041047,0.072395,...,0.174020,0.062964,0.017342,0.009622,0.493536,0.291255,0.085932,0.074525,0.033460,0.021293
259,Douglas County,0.080787,0.031308,0.049074,0.053359,0.142574,0.149466,0.567790,0.028458,0.043132,...,0.204155,0.076050,0.021445,0.011662,0.271894,0.313618,0.132967,0.179734,0.030261,0.071527
260,Elko County,0.136549,0.047425,0.077724,0.073937,0.126511,0.061549,0.603694,0.041660,0.069925,...,0.105023,0.046283,0.013207,0.005565,0.349017,0.278398,0.136753,0.143684,0.036451,0.055696
261,Esmeralda County,0.039796,0.011224,0.032653,0.046939,0.252041,0.157143,0.518367,0.000000,0.044898,...,0.152348,0.090493,0.000000,0.000000,0.224505,0.214371,0.125553,0.175416,0.107207,0.152949
262,Eureka County,0.126387,0.038224,0.033909,0.048089,0.128853,0.128853,0.629470,0.016646,0.028360,...,0.097210,0.054905,0.000000,0.000000,0.353586,0.200844,0.071730,0.222785,0.108861,0.042194
263,Humboldt County,0.133152,0.040716,0.073439,0.063362,0.129561,0.081548,0.608885,0.038747,0.059307,...,0.154423,0.041538,0.006703,0.005468,0.092028,0.128725,0.112047,0.217593,0.168977,0.280630
264,Lander County,0.131983,0.049581,0.071404,0.081355,0.139665,0.068785,0.588163,0.014665,0.051152,...,0.066165,0.033212,0.033991,0.007006,0.180392,0.208773,0.120345,0.185770,0.130153,0.174567
265,Lincoln County,0.120036,0.042157,0.062791,0.086532,0.165298,0.081429,0.542268,0.030175,0.053694,...,0.091622,0.061814,0.000000,0.000000,0.121715,0.143473,0.117301,0.226193,0.176477,0.214841
266,Lyon County,0.108976,0.033600,0.068932,0.065601,0.135493,0.105645,0.582199,0.032590,0.059140,...,0.115436,0.034886,0.005621,0.005180,0.211024,0.240763,0.141567,0.194593,0.101704,0.110348
267,Mineral County,0.090849,0.017075,0.052102,0.069396,0.103546,0.132005,0.642294,0.070490,0.068520,...,0.126877,0.015630,0.003984,0.000000,0.373480,0.248232,0.139390,0.148328,0.062115,0.028455
268,Nye County,0.079461,0.028647,0.055476,0.049750,0.141263,0.153932,0.578533,0.023753,0.044625,...,0.083507,0.031451,0.005275,0.005151,0.209290,0.237383,0.145422,0.215989,0.099777,0.092139
269,Pershing County,0.089570,0.052680,0.101412,0.123880,0.189616,0.094580,0.427661,0.017307,0.056019,...,0.058049,0.038101,0.003192,0.001197,0.180512,0.236243,0.112513,0.195934,0.141255,0.133544
270,Storey County,0.082051,0.042247,0.061050,0.032967,0.118926,0.187546,0.555311,0.035409,0.025885,...,0.168969,0.103116,0.027947,0.013492,0.249760,0.235172,0.125842,0.213851,0.102597,0.072780
271,Washoe County,0.108549,0.047447,0.077989,0.066544,0.127436,0.080534,0.593987,0.044597,0.071645,...,0.197020,0.087545,0.022328,0.017888,0.242042,0.247970,0.148859,0.168063,0.086609,0.106457
272,White Pine County,0.102256,0.034789,0.091697,0.086473,0.154496,0.107703,0.520285,0.017561,0.043237,...,0.098707,0.027501,0.000000,0.006838,0.271967,0.347280,0.094142,0.096234,0.094142,0.096234
273,Carson City,0.100465,0.043760,0.072036,0.067297,0.140020,0.094869,0.581315,0.035194,0.057752,...,0.163932,0.056470,0.016124,0.006526,0.424053,0.238443,0.117831,0.160932,0.023288,0.035454

In [8]:
# Put together train/test data
elections = pd.concat([election2012, election2016, election2020], axis=0, ignore_index=True)
finalelections = elections[['party', 'Males Under 18 Percentage','Males 18-24 Percentage','Males 25-34 Percentage',
                           'Males 35-44 Percentage', 'Males 45-64 Percentage', 'Males 65+ Percentage', 'Females Under 18 Percentage',
                           'Females 18-24 Percentage', 'Females 25-34 Percentage', 'Females 35-44 Percentage', 'Females 45-64 Percentage',
                           'Females 65+ Percentage',
                           'White alone Percentage', 'Black or African American alone Percentage', 'American Indian and Alaska Native alone Percentage',
                           'Asian alone Percentage', 'Native Hawaiian and Other Pacific Islander alone Percentage',
                           'Some other race alone Percentage', 'Two or more races Percentage', 'Two or more races: Two races including Some other race Percentage',
                           'Two or more races: Two races excluding Some other race, and three or more races Percentage',
                           'No schooling completed Percentage', 'Nursery school Percentage','Kindergarten Percentage', '1st grade Percentage', '2nd grade Percentage',
                           '3rd grade Percentage', '4th grade Percentage', '5th grade Percentage', '6th grade Percentage', '7th grade Percentage', '8th grade Percentage',
                           '9th grade Percentage', '10th grade Percentage', '11th grade Percentage', '12th grade, no diploma Percentage', 'Regular high school diploma Percentage',
                           'GED or alternative credential Percentage', 'Some college, less than 1 year Percentage', 'Some college, 1 or more years, no degree Percentage',
                           "Associate's degree Percentage", "Bachelor's degree Percentage", "Master's degree Percentage", 'Professional school degree Percentage',
                           'Doctorate degree Percentage',
                           'less than $39,999 Percentage', '$40,000-$74,999 Percentage', '$75,000-$99,999 Percentage', '$100,000-$149,999 Percentage', '$150,000-$199,999 Percentage', 'more than $200,000 Percentage']]

In [9]:
# Train-test split
from sklearn.model_selection import train_test_split

# Process data:
X = finalelections[['Males Under 18 Percentage','Males 18-24 Percentage','Males 25-34 Percentage',
                           'Males 35-44 Percentage', 'Males 45-64 Percentage', 'Males 65+ Percentage', 'Females Under 18 Percentage',
                           'Females 18-24 Percentage', 'Females 25-34 Percentage', 'Females 35-44 Percentage', 'Females 45-64 Percentage',
                           'Females 65+ Percentage',
                           'White alone Percentage', 'Black or African American alone Percentage', 'American Indian and Alaska Native alone Percentage',
                           'Asian alone Percentage', 'Native Hawaiian and Other Pacific Islander alone Percentage',
                           'Some other race alone Percentage', 'Two or more races Percentage', 'Two or more races: Two races including Some other race Percentage',
                           'Two or more races: Two races excluding Some other race, and three or more races Percentage',
                           'No schooling completed Percentage', 'Nursery school Percentage','Kindergarten Percentage', '1st grade Percentage', '2nd grade Percentage',
                           '3rd grade Percentage', '4th grade Percentage', '5th grade Percentage', '6th grade Percentage', '7th grade Percentage', '8th grade Percentage',
                           '9th grade Percentage', '10th grade Percentage', '11th grade Percentage', '12th grade, no diploma Percentage', 'Regular high school diploma Percentage',
                           'GED or alternative credential Percentage', 'Some college, less than 1 year Percentage', 'Some college, 1 or more years, no degree Percentage',
                           "Associate's degree Percentage", "Bachelor's degree Percentage", "Master's degree Percentage", 'Professional school degree Percentage',
                           'Doctorate degree Percentage',
                           'less than $39,999 Percentage', '$40,000-$74,999 Percentage', '$75,000-$99,999 Percentage', '$100,000-$149,999 Percentage', '$150,000-$199,999 Percentage', 'more than $200,000 Percentage']]
y = finalelections['party']

# Train-test split:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=100)
print(f"X_train shape: {X_train.shape}") # got it done

X_train shape: (204, 51)

In [10]:
finalelections = finalelections.drop([34,35])

In [11]:
total_nan_count = finalelections.isna().sum().sum()
print("Total NaNs in the DataFrame:")
print(total_nan_count)

columns_with_nan = finalelections.loc[:, finalelections.isna().any(axis=0)]
print("Columns with NaNs:")
print(columns_with_nan)

Total NaNs in the DataFrame:
1972
Columns with NaNs:
          party  Males Under 18 Percentage  Males 18-24 Percentage  \
0           NaN                        NaN                     NaN
1           NaN                        NaN                     NaN
2    REPUBLICAN                   0.148732                0.049457
3    REPUBLICAN                   0.158821                0.080750
4    REPUBLICAN                   0.267885                0.077675
..          ...                        ...                     ...
250    DEMOCRAT                   0.192174                0.188860
251    DEMOCRAT                   0.250878                0.090823
252  REPUBLICAN                   0.235537                0.076734
253         NaN                   0.178173                0.254214
254         NaN                   0.217091                0.090807

     Males 25-34 Percentage  Males 35-44 Percentage  Males 45-64 Percentage  \
0                       NaN                     NaN                     NaN
1                       NaN                     NaN                     NaN
2                  0.060507                0.088768                0.337500
3                  0.145235                0.117107                0.313624
4                  0.110045                0.135882                0.288887
..                      ...                     ...                     ...
250                0.151126                0.116482                0.225448
251                0.144515                0.116011                0.262080
252                0.117439                0.113363                0.274084
253                0.137514                0.102073                0.210770
254                0.132278                0.124155                0.277807

     Males 65+ Percentage  Females Under 18 Percentage  \
0                     NaN                          NaN
1                     NaN                          NaN
2                0.315036                     0.145307
3                0.184462                     0.174913
4                0.119625                     0.254335
..                    ...                          ...
250              0.125910                     0.180487
251              0.135693                     0.223711
252              0.182843                     0.229405
253              0.117257                     0.169352
254              0.157862                     0.213911

     Females 18-24 Percentage  Females 25-34 Percentage  ...  \
0                         NaN                       NaN  ...
1                         NaN                       NaN  ...
2                    0.044440                  0.059930  ...
3                    0.057607                  0.082695  ...
4                    0.075152                  0.111829  ...
..                        ...                       ...  ...
250                  0.182176                  0.136487  ...
251                  0.084015                  0.138977  ...
252                  0.067813                  0.118613  ...
253                  0.286372                  0.111559  ...
254                  0.081865                  0.119207  ...

     Bachelor's degree Percentage  Master's degree Percentage  \
0                             NaN                         NaN
1                             NaN                         NaN
2                        0.084354                    0.033673
3                        0.122286                    0.032289
4                        0.133949                    0.050682
..                            ...                         ...
250                      0.266748                    0.188189
251                      0.152973                    0.074948
252                      0.135384                    0.047838
253                      0.161308                    0.091039
254                      0.150465                    0.059541

     Professional school degree Percentage  Doctorate degree Percentage  \
0                                      NaN                          NaN
1                                      NaN                          NaN
2                                 0.008730                     0.004762
3                                 0.008931                     0.006320
4                                 0.009928                     0.004775
..                                     ...                          ...
250                               0.051047                     0.061236
251                               0.015432                     0.008996
252                               0.008733                     0.005205
253                               0.011997                     0.031131
254                               0.009582                     0.005661

     less than $39,999 Percentage  $40,000-$74,999 Percentage  \
0                             NaN                         NaN
1                             NaN                         NaN
2                        0.539873                    0.301899
3                        0.521360                    0.282181
4                        0.379046                    0.333834
..                            ...                         ...
250                      0.270652                    0.225482
251                      0.418687                    0.253049
252                      0.391311                    0.318498
253                      0.440295                    0.279773
254                      0.361434                    0.290311

     $75,000-$99,999 Percentage  $100,000-$149,999 Percentage  \
0                           NaN                           NaN
1                           NaN                           NaN
2                      0.074684                      0.056962
3                      0.108769                      0.069140
4                      0.135159                      0.107584
..                          ...                           ...
250                    0.130145                      0.166534
251                    0.112452                      0.120259
252                    0.127611                      0.106645
253                    0.106241                      0.103559
254                    0.135078                      0.128986

     $150,000-$199,999 Percentage  more than $200,000 Percentage
0                             NaN                            NaN
1                             NaN                            NaN
2                        0.011181                       0.015401
3                        0.011523                       0.007026
4                        0.026622                       0.017756
..                            ...                            ...
250                      0.090150                       0.117037
251                      0.049140                       0.046414
252                      0.026718                       0.029216
253                      0.039630                       0.030503
254                      0.050582                       0.033609

[253 rows x 52 columns]

In [12]:
from sklearn.model_selection import train_test_split

# Process data:
X = finalelections[['Males Under 18 Percentage','Males 18-24 Percentage','Males 25-34 Percentage',
                           'Males 35-44 Percentage', 'Males 45-64 Percentage', 'Males 65+ Percentage', 'Females Under 18 Percentage',
                           'Females 18-24 Percentage', 'Females 25-34 Percentage', 'Females 35-44 Percentage', 'Females 45-64 Percentage',
                           'Females 65+ Percentage',
                           'White alone Percentage', 'Black or African American alone Percentage', 'American Indian and Alaska Native alone Percentage',
                           'Asian alone Percentage', 'Native Hawaiian and Other Pacific Islander alone Percentage',
                           'Some other race alone Percentage', 'Two or more races Percentage', 'Two or more races: Two races including Some other race Percentage',
                           'Two or more races: Two races excluding Some other race, and three or more races Percentage',
                           'No schooling completed Percentage', 'Nursery school Percentage','Kindergarten Percentage', '1st grade Percentage', '2nd grade Percentage',
                           '3rd grade Percentage', '4th grade Percentage', '5th grade Percentage', '6th grade Percentage', '7th grade Percentage', '8th grade Percentage',
                           '9th grade Percentage', '10th grade Percentage', '11th grade Percentage', '12th grade, no diploma Percentage', 'Regular high school diploma Percentage',
                           'GED or alternative credential Percentage', 'Some college, less than 1 year Percentage', 'Some college, 1 or more years, no degree Percentage',
                           "Associate's degree Percentage", "Bachelor's degree Percentage", "Master's degree Percentage", 'Professional school degree Percentage',
                           'Doctorate degree Percentage',
                           'less than $39,999 Percentage', '$40,000-$74,999 Percentage', '$75,000-$99,999 Percentage', '$100,000-$149,999 Percentage', '$150,000-$199,999 Percentage', 'more than $200,000 Percentage']]
y = finalelections['party']

In [13]:
# Finding missing data

total_nan_count = finalelections.isna().sum().sum()
print("Total NaNs in the DataFrame:")
print(total_nan_count)

columns_with_nan = finalelections.loc[:, finalelections.isna().any(axis=0)]
print("Columns with NaNs:")
print(columns_with_nan)

Total NaNs in the DataFrame:
1972
Columns with NaNs:
          party  Males Under 18 Percentage  Males 18-24 Percentage  \
0           NaN                        NaN                     NaN
1           NaN                        NaN                     NaN
2    REPUBLICAN                   0.148732                0.049457
3    REPUBLICAN                   0.158821                0.080750
4    REPUBLICAN                   0.267885                0.077675
..          ...                        ...                     ...
250    DEMOCRAT                   0.192174                0.188860
251    DEMOCRAT                   0.250878                0.090823
252  REPUBLICAN                   0.235537                0.076734
253         NaN                   0.178173                0.254214
254         NaN                   0.217091                0.090807

     Males 25-34 Percentage  Males 35-44 Percentage  Males 45-64 Percentage  \
0                       NaN                     NaN                     NaN
1                       NaN                     NaN                     NaN
2                  0.060507                0.088768                0.337500
3                  0.145235                0.117107                0.313624
4                  0.110045                0.135882                0.288887
..                      ...                     ...                     ...
250                0.151126                0.116482                0.225448
251                0.144515                0.116011                0.262080
252                0.117439                0.113363                0.274084
253                0.137514                0.102073                0.210770
254                0.132278                0.124155                0.277807

     Males 65+ Percentage  Females Under 18 Percentage  \
0                     NaN                          NaN
1                     NaN                          NaN
2                0.315036                     0.145307
3                0.184462                     0.174913
4                0.119625                     0.254335
..                    ...                          ...
250              0.125910                     0.180487
251              0.135693                     0.223711
252              0.182843                     0.229405
253              0.117257                     0.169352
254              0.157862                     0.213911

     Females 18-24 Percentage  Females 25-34 Percentage  ...  \
0                         NaN                       NaN  ...
1                         NaN                       NaN  ...
2                    0.044440                  0.059930  ...
3                    0.057607                  0.082695  ...
4                    0.075152                  0.111829  ...
..                        ...                       ...  ...
250                  0.182176                  0.136487  ...
251                  0.084015                  0.138977  ...
252                  0.067813                  0.118613  ...
253                  0.286372                  0.111559  ...
254                  0.081865                  0.119207  ...

     Bachelor's degree Percentage  Master's degree Percentage  \
0                             NaN                         NaN
1                             NaN                         NaN
2                        0.084354                    0.033673
3                        0.122286                    0.032289
4                        0.133949                    0.050682
..                            ...                         ...
250                      0.266748                    0.188189
251                      0.152973                    0.074948
252                      0.135384                    0.047838
253                      0.161308                    0.091039
254                      0.150465                    0.059541

     Professional school degree Percentage  Doctorate degree Percentage  \
0                                      NaN                          NaN
1                                      NaN                          NaN
2                                 0.008730                     0.004762
3                                 0.008931                     0.006320
4                                 0.009928                     0.004775
..                                     ...                          ...
250                               0.051047                     0.061236
251                               0.015432                     0.008996
252                               0.008733                     0.005205
253                               0.011997                     0.031131
254                               0.009582                     0.005661

     less than $39,999 Percentage  $40,000-$74,999 Percentage  \
0                             NaN                         NaN
1                             NaN                         NaN
2                        0.539873                    0.301899
3                        0.521360                    0.282181
4                        0.379046                    0.333834
..                            ...                         ...
250                      0.270652                    0.225482
251                      0.418687                    0.253049
252                      0.391311                    0.318498
253                      0.440295                    0.279773
254                      0.361434                    0.290311

     $75,000-$99,999 Percentage  $100,000-$149,999 Percentage  \
0                           NaN                           NaN
1                           NaN                           NaN
2                      0.074684                      0.056962
3                      0.108769                      0.069140
4                      0.135159                      0.107584
..                          ...                           ...
250                    0.130145                      0.166534
251                    0.112452                      0.120259
252                    0.127611                      0.106645
253                    0.106241                      0.103559
254                    0.135078                      0.128986

     $150,000-$199,999 Percentage  more than $200,000 Percentage
0                             NaN                            NaN
1                             NaN                            NaN
2                        0.011181                       0.015401
3                        0.011523                       0.007026
4                        0.026622                       0.017756
..                            ...                            ...
250                      0.090150                       0.117037
251                      0.049140                       0.046414
252                      0.026718                       0.029216
253                      0.039630                       0.030503
254                      0.050582                       0.033609

[253 rows x 52 columns]

In [14]:
numeric_cols = finalelections.select_dtypes(include=np.number).columns
finalelections[numeric_cols] = finalelections[numeric_cols].interpolate(method='linear', axis=0)

In [15]:

# Update X and y with the interpolated data
X = finalelections[['Males Under 18 Percentage', 'Males 18-24 Percentage', 'Males 25-34 Percentage',
                            'Males 35-44 Percentage', 'Males 45-64 Percentage', 'Males 65+ Percentage', 'Females Under 18 Percentage',
                            'Females 18-24 Percentage', 'Females 25-34 Percentage', 'Females 35-44 Percentage', 'Females 45-64 Percentage',
                            'Females 65+ Percentage',
                            'White alone Percentage', 'Black or African American alone Percentage', 'American Indian and Alaska Native alone Percentage',
                            'Asian alone Percentage', 'Native Hawaiian and Other Pacific Islander alone Percentage',
                            'Some other race alone Percentage', 'Two or more races Percentage', 'Two or more races: Two races including Some other race Percentage',
                            'Two or more races: Two races excluding Some other race, and three or more races Percentage',
                            'No schooling completed Percentage', 'Nursery school Percentage', 'Kindergarten Percentage', '1st grade Percentage', '2nd grade Percentage',
                            '3rd grade Percentage', '4th grade Percentage', '5th grade Percentage', '6th grade Percentage', '7th grade Percentage', '8th grade Percentage',
                            '9th grade Percentage', '10th grade Percentage', '11th grade Percentage', '12th grade, no diploma Percentage', 'Regular high school diploma Percentage',
                            'GED or alternative credential Percentage', 'Some college, less than 1 year Percentage', 'Some college, 1 or more years, no degree Percentage',
                            "Associate's degree Percentage", "Bachelor's degree Percentage", "Master's degree Percentage", 'Professional school degree Percentage',
                            'Doctorate degree Percentage',
                            'less than $39,999 Percentage', '$40,000-$74,999 Percentage', '$75,000-$99,999 Percentage', '$100,000-$149,999 Percentage', '$150,000-$199,999 Percentage', 'more than $200,000 Percentage']]
y = finalelections['party']

In [16]:
# Check for remaining NaNs
total_nan_count = finalelections.isna().sum().sum()
print("Total NaNs in the DataFrame:", total_nan_count)

# Check which columns (if any) still have NaNs
columns_with_nan = finalelections.loc[:, finalelections.isna().any(axis=0)]
print("Columns with NaNs:", columns_with_nan)

Total NaNs in the DataFrame: 108
Columns with NaNs:           party  Males Under 18 Percentage  Males 18-24 Percentage  \
0           NaN                        NaN                     NaN
1           NaN                        NaN                     NaN
2    REPUBLICAN                   0.148732                0.049457
3    REPUBLICAN                   0.158821                0.080750
4    REPUBLICAN                   0.267885                0.077675
..          ...                        ...                     ...
250    DEMOCRAT                   0.192174                0.188860
251    DEMOCRAT                   0.250878                0.090823
252  REPUBLICAN                   0.235537                0.076734
253         NaN                   0.178173                0.254214
254         NaN                   0.217091                0.090807

     Males 25-34 Percentage  Males 35-44 Percentage  Males 45-64 Percentage  \
0                       NaN                     NaN                     NaN
1                       NaN                     NaN                     NaN
2                  0.060507                0.088768                0.337500
3                  0.145235                0.117107                0.313624
4                  0.110045                0.135882                0.288887
..                      ...                     ...                     ...
250                0.151126                0.116482                0.225448
251                0.144515                0.116011                0.262080
252                0.117439                0.113363                0.274084
253                0.137514                0.102073                0.210770
254                0.132278                0.124155                0.277807

     Males 65+ Percentage  Females Under 18 Percentage  \
0                     NaN                          NaN
1                     NaN                          NaN
2                0.315036                     0.145307
3                0.184462                     0.174913
4                0.119625                     0.254335
..                    ...                          ...
250              0.125910                     0.180487
251              0.135693                     0.223711
252              0.182843                     0.229405
253              0.117257                     0.169352
254              0.157862                     0.213911

     Females 18-24 Percentage  Females 25-34 Percentage  ...  \
0                         NaN                       NaN  ...
1                         NaN                       NaN  ...
2                    0.044440                  0.059930  ...
3                    0.057607                  0.082695  ...
4                    0.075152                  0.111829  ...
..                        ...                       ...  ...
250                  0.182176                  0.136487  ...
251                  0.084015                  0.138977  ...
252                  0.067813                  0.118613  ...
253                  0.286372                  0.111559  ...
254                  0.081865                  0.119207  ...

     Bachelor's degree Percentage  Master's degree Percentage  \
0                             NaN                         NaN
1                             NaN                         NaN
2                        0.084354                    0.033673
3                        0.122286                    0.032289
4                        0.133949                    0.050682
..                            ...                         ...
250                      0.266748                    0.188189
251                      0.152973                    0.074948
252                      0.135384                    0.047838
253                      0.161308                    0.091039
254                      0.150465                    0.059541

     Professional school degree Percentage  Doctorate degree Percentage  \
0                                      NaN                          NaN
1                                      NaN                          NaN
2                                 0.008730                     0.004762
3                                 0.008931                     0.006320
4                                 0.009928                     0.004775
..                                     ...                          ...
250                               0.051047                     0.061236
251                               0.015432                     0.008996
252                               0.008733                     0.005205
253                               0.011997                     0.031131
254                               0.009582                     0.005661

     less than $39,999 Percentage  $40,000-$74,999 Percentage  \
0                             NaN                         NaN
1                             NaN                         NaN
2                        0.539873                    0.301899
3                        0.521360                    0.282181
4                        0.379046                    0.333834
..                            ...                         ...
250                      0.270652                    0.225482
251                      0.418687                    0.253049
252                      0.391311                    0.318498
253                      0.440295                    0.279773
254                      0.361434                    0.290311

     $75,000-$99,999 Percentage  $100,000-$149,999 Percentage  \
0                           NaN                           NaN
1                           NaN                           NaN
2                      0.074684                      0.056962
3                      0.108769                      0.069140
4                      0.135159                      0.107584
..                          ...                           ...
250                    0.130145                      0.166534
251                    0.112452                      0.120259
252                    0.127611                      0.106645
253                    0.106241                      0.103559
254                    0.135078                      0.128986

     $150,000-$199,999 Percentage  more than $200,000 Percentage
0                             NaN                            NaN
1                             NaN                            NaN
2                        0.011181                       0.015401
3                        0.011523                       0.007026
4                        0.026622                       0.017756
..                            ...                            ...
250                      0.090150                       0.117037
251                      0.049140                       0.046414
252                      0.026718                       0.029216
253                      0.039630                       0.030503
254                      0.050582                       0.033609

[253 rows x 52 columns]

In [17]:
finalelections=finalelections.drop([0,1])

In [18]:
total_nan_count2 = finalelections.isna().sum().sum()
print("Total NaNs in the DataFrame:")
print(total_nan_count2)

columns_with_nan2 = finalelections.loc[:, finalelections.isna().any(axis=0)]
print("Columns with NaNs:")
print(columns_with_nan2)

Total NaNs in the DataFrame:
4
Columns with NaNs:
          party
2    REPUBLICAN
3    REPUBLICAN
4    REPUBLICAN
5    REPUBLICAN
6    REPUBLICAN
..          ...
250    DEMOCRAT
251    DEMOCRAT
252  REPUBLICAN
253         NaN
254         NaN

[251 rows x 1 columns]

In [19]:
finalelections=finalelections.drop([253,254])

In [20]:
finalelections=finalelections.drop([85,86])

In [21]:
finalelections[finalelections.isnull().any(axis=1)]

Empty DataFrame
Columns: [party, Males Under 18 Percentage, Males 18-24 Percentage, Males 25-34 Percentage, Males 35-44 Percentage, Males 45-64 Percentage, Males 65+ Percentage, Females Under 18 Percentage, Females 18-24 Percentage, Females 25-34 Percentage, Females 35-44 Percentage, Females 45-64 Percentage, Females 65+ Percentage, White alone Percentage, Black or African American alone Percentage, American Indian and Alaska Native alone Percentage, Asian alone Percentage, Native Hawaiian and Other Pacific Islander alone Percentage, Some other race alone Percentage, Two or more races Percentage, Two or more races: Two races including Some other race Percentage, Two or more races: Two races excluding Some other race, and three or more races Percentage, No schooling completed Percentage, Nursery school Percentage, Kindergarten Percentage, 1st grade Percentage, 2nd grade Percentage, 3rd grade Percentage, 4th grade Percentage, 5th grade Percentage, 6th grade Percentage, 7th grade Percentage, 8th grade Percentage, 9th grade Percentage, 10th grade Percentage, 11th grade Percentage, 12th grade, no diploma Percentage, Regular high school diploma Percentage, GED or alternative credential Percentage, Some college, less than 1 year Percentage, Some college, 1 or more years, no degree Percentage, Associate's degree Percentage, Bachelor's degree Percentage, Master's degree Percentage, Professional school degree Percentage, Doctorate degree Percentage, less than $39,999 Percentage, $40,000-$74,999 Percentage, $75,000-$99,999 Percentage, $100,000-$149,999 Percentage, $150,000-$199,999 Percentage, more than $200,000 Percentage]
Index: []

[0 rows x 52 columns]

In [22]:
total_nan_count = finalelections.isna().sum().sum()
print("Total NaNs in the DataFrame:")
print(total_nan_count)

columns_with_nan = finalelections.loc[:, finalelections.isna().any(axis=0)]
print("Columns with NaNs:")
print(columns_with_nan)

Total NaNs in the DataFrame:
0
Columns with NaNs:
Empty DataFrame
Columns: []
Index: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, ...]

[247 rows x 0 columns]

In [23]:
nan_count_X_train = X_train.isna().sum().sum()
print("Total NaNs in X_train:", nan_count_X_train)

nan_count_y_train = y_train.isna().sum().sum()
print("Total NaNs in y_train:", nan_count_y_train)

Total NaNs in X_train: 1615
Total NaNs in y_train: 5

In [24]:
X_train = X_train.fillna(0)
y_train = y_train.fillna(0)

In [25]:
nan_count_X_train = X_train.isna().sum().sum()
print("Total NaNs in X_train:", nan_count_X_train)

nan_count_y_train = y_train.isna().sum().sum()
print("Total NaNs in y_train:", nan_count_y_train)

Total NaNs in X_train: 0
Total NaNs in y_train: 0

In [26]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [27]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

le = LabelEncoder()

# Convert y_train to string type before fitting LabelEncoder
y_train = y_train.astype(str)

# 1. Check for unique values in y_train and y_test:
print("Unique values in y_train:", np.unique(y_train))

# Convert y_test to string before checking unique values:
y_test_str = y_test.astype(str)  # Convert to string
print("Unique values in y_test:", np.unique(y_test_str))

# 2. Handle NaN and unexpected values in y_test:
valid_labels = ['DEMOCRAT', 'REPUBLICAN']  # Your valid labels

# Convert to string and replace NaNs and unexpected values
# Note: We're now using y_test_str for consistency
y_test_str = pd.Series(y_test_str).map(lambda x: x if x in valid_labels else valid_labels[0])

# 3. Fit LabelEncoder and transform:
# No changes needed here as y_train was already converted to string above.
y_train = le.fit_transform(y_train)  # Fit on y_train
y_test = le.transform(y_test_str)  # Transform y_test_str to y_test

# Fit model:
model = RandomForestClassifier() # Build a random forest model
rf = model.fit(X_train,y_train) # Fit the rf model

# ... (rest of your code) ...

Unique values in y_train: ['0' 'DEMOCRAT' 'REPUBLICAN']
Unique values in y_test: ['DEMOCRAT' 'REPUBLICAN' 'nan']

In [28]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

le = LabelEncoder()

# Convert y_train to string type before fitting LabelEncoder
y_train = y_train.astype(str)

# Fit and transform the target variable (y_train and y_test)
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test) # Transform y_test using the same encoder

# Fit model:
model = RandomForestClassifier() # Build a random forest model
rf = model.fit(X_train,y_train) # Fit the rf model

In [29]:
# Train-test split:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=100)
print(f"X_train shape: {X_train.shape}") # got it done

X_train shape: (202, 51)

In [31]:
# prompt: how do I use the model with my prediciton data

miprediction_subset = miprediction[[
    'Males Under 18 Percentage', 'Males 18-24 Percentage', 'Males 25-34 Percentage',
    'Males 35-44 Percentage', 'Males 45-64 Percentage', 'Males 65+ Percentage',
    'Females Under 18 Percentage', 'Females 18-24 Percentage', 'Females 25-34 Percentage',
    'Females 35-44 Percentage', 'Females 45-64 Percentage', 'Females 65+ Percentage',
    'White alone Percentage', 'Black or African American alone Percentage',
    'American Indian and Alaska Native alone Percentage', 'Asian alone Percentage',
    'Native Hawaiian and Other Pacific Islander alone Percentage', 'Some other race alone Percentage',
    'Two or more races Percentage', 'Two or more races: Two races including Some other race Percentage',
    'Two or more races: Two races excluding Some other race, and three or more races Percentage',
    'No schooling completed Percentage', 'Nursery school Percentage', 'Kindergarten Percentage',
    '1st grade Percentage', '2nd grade Percentage', '3rd grade Percentage', '4th grade Percentage',
    '5th grade Percentage', '6th grade Percentage', '7th grade Percentage', '8th grade Percentage',
    '9th grade Percentage', '10th grade Percentage', '11th grade Percentage',
    '12th grade, no diploma Percentage', 'Regular high school diploma Percentage',
    'GED or alternative credential Percentage', 'Some college, less than 1 year Percentage',
    'Some college, 1 or more years, no degree Percentage', "Associate's degree Percentage",
    "Bachelor's degree Percentage", "Master's degree Percentage", 'Professional school degree Percentage',
    'Doctorate degree Percentage', 'less than $39,999 Percentage', '$40,000-$74,999 Percentage',
    '$75,000-$99,999 Percentage', '$100,000-$149,999 Percentage', '$150,000-$199,999 Percentage',
    'more than $200,000 Percentage'
]]

# Use the trained model to make predictions on the selected data
predictions = rf.predict(miprediction_subset)

# Inverse transform the predictions to get the original party labels
predicted_parties = le.inverse_transform(predictions)

# Add the predictions to the prediction DataFrame
miprediction['predicted_party'] = predicted_parties

# Print or analyze the results
print(miprediction[['County Name', 'predicted_party']])

           County Name predicted_party
257   Churchill County               2
258       Clark County               2
259     Douglas County               2
260        Elko County               2
261   Esmeralda County               2
262      Eureka County               2
263    Humboldt County               2
264      Lander County               2
265     Lincoln County               2
266        Lyon County               2
267     Mineral County               2
268         Nye County               2
269    Pershing County               2
270      Storey County               2
271      Washoe County               2
272  White Pine County               2
273        Carson City               2

In [32]:
# Replace numerical party representation with string labels
miprediction['predicted_party'] = miprediction['predicted_party'].replace({'1': 'DEMOCRAT', '2': 'REPUBLICAN'})

# Print or analyze the results
print(miprediction[['County Name', 'predicted_party']])

           County Name predicted_party
257   Churchill County      REPUBLICAN
258       Clark County      REPUBLICAN
259     Douglas County      REPUBLICAN
260        Elko County      REPUBLICAN
261   Esmeralda County      REPUBLICAN
262      Eureka County      REPUBLICAN
263    Humboldt County      REPUBLICAN
264      Lander County      REPUBLICAN
265     Lincoln County      REPUBLICAN
266        Lyon County      REPUBLICAN
267     Mineral County      REPUBLICAN
268         Nye County      REPUBLICAN
269    Pershing County      REPUBLICAN
270      Storey County      REPUBLICAN
271      Washoe County      REPUBLICAN
272  White Pine County      REPUBLICAN
273        Carson City      REPUBLICAN